<div id="<%= dom_id kitten %>" class= 'kitten'>
  <h4>Name: </h4>
  <%= kitten.name %>
  <h5>Age: </h5>
  <%= kitten.age %>
  <h5>Cuteness: </h5>
  <%= kitten.cuteness %>
  <h5>Softness: </h5>
  <%= kitten.softness %>
</div>
